html, body {
    height: 100%; /* required to make body occupy the full viewport by default */
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, sans-serif, Arial;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    background-color: #ffffff;
    font-weight: bold;
    
    /*mobile*/
    -webkit-text-size-adjust:none;
    -ms-text-size-adjust:none;
    -moz-text-size-adjust:none;
    text-size-adjust:none;
    
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

a {
    color: #00f; 
    text-decoration: none;
    border-bottom: 2px solid #00f;
    padding-bottom: 0px;
    background-color: none;
    outline: none;
    cursor: pointer;
}

a:hover {
    background-color: #00f; 
    color: #fff;
    outline: none;
    cursor: pointer;
}

#container {
    height: 100%;
    display: flex;
    align-items: center; /* horizontal */
    justify-content: center; /* vertical */
}

#photo {
    height: 100%;
    display: flex;
    align-items: center; /* horizontal */
}

#prev {
    height: 100%;
    display: inline-flex;
    align-items: center; /* horizontal */
    position: fixed;
    left: 50px;
}
#next {
    height: 100%;
    display: inline-flex;
    align-items: center; /* horizontal */
    position: fixed;
    right: 50px;
}

img {
    height: 600px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}